@import "react-image-gallery/styles/scss/image-gallery.scss";

.view-detail-book {

    .original-image{
        max-width: 100%; /* Đặt chiều rộng tối đa là 100% của phần tử chứa ảnh */
        max-height: 450px; /* Đặt chiều cao tối đa cho ảnh, thay đổi giá trị theo nhu cầu của bạn */
        width: auto; /* Đảm bảo chiều rộng tỷ lệ được giữ nguyên */
        height: auto; /* Đảm bảo chiều cao tỷ lệ được giữ nguyên */
    }
    .thumbnail-image {
        cursor: pointer;
    }

    .title {
        margin: 5px 0;
        color: #242424;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        word-break: break-word;
    }

    .rating {
        display: flex;
        margin: 10px 0;
    }

    .price {
        border-radius: 4px;
        background-color: rgb(250, 250, 250);
        padding: 25px;
        margin-bottom: 20px;

        .currency {
            font-size: 32px;
            line-height: 40px;
            margin-right: 8px;
            font-weight: 500;
            color: #ee4d2d;
        }
    }

    .delivery {
        padding: 10px 0;
        margin: 10px 0;
    }

    .quantity {
        padding: 10px 0;
        display: flex;
        align-items: center;
            input {
                width: 50px;
                height: 32px;
                border-left: 0;
                border-right: 0;
                font-size: 16px;
                font-weight: 400;
                text-align: center;
                cursor: text;
                border-radius: 0;
                border: 1px solid rgba(0, 0, 0, 0.09);
                outline: none;
            }

            button {
                outline: none;
                cursor: pointer;
                border: 0;
                font-size: .875rem;
                font-weight: 300;
                line-height: 1;
                letter-spacing: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color .1s cubic-bezier(.4, 0, .6, 1);
                border: 1px solid rgba(0, 0, 0, .09);
                border-radius: 2px;
                background: transparent;
                color: rgba(0, 0, 0, .8);
                width: 32px;
                height: 32px;
            }
        
    }

    .btn-addCart{
        margin: 0 20px;
        padding: 12px 30px;
        border-radius: 3px;
        border: none;
        background-color: #F48029;
        font-weight: bold;
        font-size: 15px;
    }.btn-addCart:hover{
        opacity: 0.8;
    }
    
    .parameter {
        .front{
            color: black;
            font-weight: bold;
            font-size: 16px;
        }
        .back{
            padding-left: 20px;
            color: grey;
            font-size: 15px;
        }
    }

}

.modal-gallery {
    .active {
        border: 2px solid #ee4d2d;
        position: absolute;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        top: 0;
    }

    .img-normal {
        cursor: pointer;
    }
}