.form-login{
    margin: 0 30%;
    .form-login-item:first-child{
        padding: 10%;
        background-color: white;
    }
    .form-login-item:last-child{
        padding: 10%;
        background-color:white;
    }
    
        .button{
            padding: 20px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            
        }
    
}