.btn{
    padding: 12px 24px;
    border-radius: 5px ;
    border: none;
    margin: 0 4px;
}
.btn-delete{
    color: white;
    background-color: red;
}
.btn-viewDetails{
    color: white;
    background-color: blue;
}