.header-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 40px;
    .header-item{
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-logo{
            font-size: 30px;
            padding:0 40px;
            font-weight: bolder;
        }
        .nav-menu{
            display: flex;
            .nav-menu-item {
                padding: 0 10px;
                a{
                    font-size: 20px;
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .nav-cart{
            font-size: 30px;
        }
        .nav-user{
            margin : 0 10px;
            padding: 5px 20px;
            cursor: pointer;
            .nav-userName{
                font-size: 20px;
                color: black;
                font-weight: bolder;
            }
            .nav-link{
                display: flex;
                a{
                    padding: 10px;
                    text-decoration: none;
                    font-size: 20px;
                }
            }
        }
    }


   
}