*{margin: 0;padding: 0;box-sizing: border-box;}
.home-container{
    width: 100%;
    min-height: 600px;
    background-color: #FF871C;
    display: flex;
    padding: 3% 11%;
    color: white;
    .item:first-child{
        width: 50%;
        margin-top: 40px;
        h1{
            font-size: 70px;
            padding-bottom: 40px;
        }
        button{
            padding: 15px 40px;
            background-color: white;
            border: none;
            color: #FF871C;
            border-radius: 20px;
            font-size: 17px;
            font-weight: bold;
            margin-top: 40px;
        }
    }
    .item:last-child{
             width: 60%;
          
            background-image: url('./ebook.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        
        
    }
}